<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>customer</title>
  <link th:href="@{/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
<br />
<h1 align="center"> 회원 목록 </h1>
<table class="text">
  <tr >
    <td>No.</td>
    <td>ID</td>
    <td>Password</td>
    <td>Name</td>
    <td>Email</td>
    <td>Registration Date</td>
  </tr>
  <tr th:each="customer, customerStat : ${list}">
    <td th:text="${customerStat.count}"></td>
    <td th:text="${customer.id}">ID</td>
    <td th:text="${customer.pw}">Password</td>
    <td th:text="${customer.name}">Name</td>
    <td th:text="${customer.email}">Email</td>
    <td th:text="${customer.reg}">Registration Date</td>
  </tr>
</table>
</body>
</html>